<div id="shop">
    <header id="page-title">
        <div class="container">
            <h1>Condorcet Christmas Esho</h1>

            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Product</li>
            </ul>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="controlls-over product-image">
                    <div>
                        <img alt="" class="img-responsive" src="<!-- Product Picture-->">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <form class="form-inline productDescription noajax">
                    <h2 class="product-title"><!-- Product Name--></h2>
                    <span class="code">BRAND: <!-- Product Brand--></span>
                    <div class="productRowInfo">
                        <span><!-- Product Price --></span>
                    </div>
                    <div class="desc">
                        <h3 class="page-header">DESCRIPTION</h3>
                        <p>
                            <!-- Product Picture-->
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <hr />
    </section>
</div>