<div id="shop">
    <header id="page-title">
        <div class="container">
            <h1>Condorcet Christmas Esho</h1>

            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Product</li>
            </ul>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="controlls-over product-image">
                    <div>
                        <img alt="" class="img-responsive" src="assets/images/demo/shop/4.jpg">
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-6">
                <form class="form-inline productDescription noajax">
                    <h2 class="product-title">Pink Lady Perfect Shoes</h2>
                    <span class="code">BRAND: 0F3DSS</span>
                    <div class="productRowInfo">
                        <span>$43.00</span>
                    </div>
                    <div class="desc">
                        <h3 class="page-header">DESCRIPTION</h3>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen.
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <hr />
    </section>
</div>