@model IEnumerable<Condorcet.Eshop.Models.Product>
@{
    ViewBag.Title = "Products list";
}

<section class="container text-center">
    <img src="~/Content/images/cover.png" style="width: 100%; padding-bottom: 15px;" />
    <h1 class="text-center">
        <strong>Welcome</strong> to Condorcet Eshop
        <span class="subtitle">BEST PRODUCTS YOU EVER SEEN!</span>
    </h1>
    <p class="lead">Christmas Eshop.</p>
</section>
<br />
<div id="shop">
    <section class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-sm-6 col-md-3">
                    <div class="item-box fixed-box">
                        <figure>
                            <a class="item-hover" href="@Url.Action("Info", "Product", new { id = product.Id })">
                                <span class="overlay color2"></span>
                                <span class="inner">
                                    <span class="block fa fa-plus fsize20"></span>
                                    <strong>PRODUCT</strong> DETAIL
                                </span>
                            </a>
                            <a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
                            <img class="img-responsive" src="@product.Picture" style="max-width:260px;max-height:260px;" alt="">
                        </figure>
                        <div class="item-box-desc">
                            <h4>@product.Name</h4>
                            <small class="styleColor">@product.Price €</small>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
</div>
