<div id="shop">
    <header id="page-title">
        <div class="container">
            <h1>Condorcet Christmas Esho</h1>
            <ul class="breadcrumb">
                <li><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="active">Product</li>
            </ul>
        </div>
    </header>
    <section class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="controlls-over product-image">
                    <div>
                        <img src="~/Content/images/404.jpg" style="max-width:100%;" class="img-responsive" alt="<!-- Product Picture-->">
                    </div>
                </div>
            </div>
        </div>
        <hr />
    </section>
</div>