@{
    ViewBag.Title = "Products list";
}


<div id="shop">
    <section class="container">
        <div class="row">
            @*<div class="col-sm-6 col-md-3">
                <div class="item-box fixed-box">
                    <figure>
                        <a class="item-hover" href="shop-product-full-width.html">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>PRODUCT</strong> DETAIL
                            </span>
                        </a>
                        <a href="shop-cart.html?action=cart_add&amp;product_id=1&amp;product_color=red&amp;product_size=l&amp;product_qty=1" class="btn btn-primary add_to_cart"><i class="fa fa-shopping-cart"></i> ADD TO CART</a>
                        <img class="img-responsive" src="~/Content/images/demo/shop/9.jpg" width="260" height="260" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>Cool Chair</h4>
                        <small class="styleColor"><span>$180</span> $150</small>
                    </div>
                </div>
            </div>*@
        </div>
    </section>
</div>
